@import url('https://fonts.google.com/specimen/Outfit');

body {
    background-color: hsl(212, 45%, 89%);
}

.header {
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: hsl(218, 44%, 22%);
}

.text {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: hsl(216, 15%, 48%);
}

.attribution { 
    font-size: 11px; text-align: center; 
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.container {
    background-color: hsl(0, 0%, 100%);
    width: 300px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.container img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}